<html>
<body>
<h1>Message send from rainbowweekend.org</h1>
<h2>Sender Details</h2>
<dl>
<dt>Full name</dt>
<dd>{{ name }}</dd>
<dt>Phone</dt>
<dd>{{ phone }}</dd>
<dt>Email</dt>
<dd>{{ email }}</dd>
</dl>
<h2>Message</h2>
<p>{{ message }}</p>
</body>
</html>