.container {
  @media (min-width: @screen-lg-min) {
    width: @container-md !important;
  }
}

.panel-orange {
    .panel-warning;
}

html,
body {
    height: 100%;
}

body {
    padding-top:46px;
}

#wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -82px;
}

#content {
    margin-bottom:60px;
}

footer {
    background-color: @well-bg;
    .copyright-info {
        margin-top:30px;
        margin-bottom:30px;
        .text-muted;
    }
}

#push,
footer {
    height: 80px;
}

@media (max-width: 767px) {
    footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

.navbar-brand {
    background-image:url("bundles/rwweb/images/rw_n.png");
    background-size:contain;
    background-repeat:no-repeat;
    background-position:center;
    overflow:hidden;
    width:120px;
    margin-left:0px !important;
    @media (max-width: @screen-sm-min) {
        margin-left:15px !important;
    }
    .no-overflow;
    strong {
        display: none;
    }
}

.jumbotron h1 small {
    color: lighten(@jumbotron-heading-color, 30%);
}
