{% extends 'RwWebBundle::base.html.twig' %}

{% block content %}

    {% include 'RwWebBundle::_jumbotron.html.twig' with {
        'header': 'Committee', 
        'lead'  : 'Here you can find a list of the trusted servents for Rainbow Weekend 17.'
    } only %}

    <div class="container">
        {% include 'RwWebBundle:About:_committee_list.html.twig' with {
            'header'   : 'Admin', 
            'committee': committee_admin
        } only %}
        {% include 'RwWebBundle:About:_committee_list.html.twig' with {
            'header'   : 'Sub-Committee Chairs', 
            'committee': committee_chair
        } only %}
        {% include 'RwWebBundle:About:_committee_list.html.twig' with {
            'header'   : 'Group Representatives', 
            'committee': committee_representative
        } only %}
    </div>

{% endblock %}
