<footer>
    <div class="container">
        <div class="row">
        	<div class="col-sm-6">
        		<div class="copyright-info">
            		<p>{{ get_config('rf.footer_copy') }}</p>
        		</div>
        	</div>
        	<div class="col-sm-6">
        		<div class="newsletter">
            		<p>
            			<a href="http://visitor.r20.constantcontact.com/manage/optin/ea?v=001RMFAiqrpi2EDY0867yOXLulKw9OCBTApWwNY5TPSy8ATXPdoxyPqXn1Bske5z-_Mb_M4ctfX6MuArANlDJVsY2p0_TC7Ceh5aR7TqyFY8sC5UxaAVq8k56WytigCx1pLXHKrnuWCt57U9fzeMxxKUM08HLv5cC5BYwcnEbSBJww%3D">Register for our Newsletter</a>
            		</p>
            	</div>
            </div>
        </div>
    </div>
</footer>