{% extends '::base.html.twig' %}

{% block stylesheets %}

    {% block stylesheetsInternal %}

        {% stylesheets
            output='assets/css/compiled-all.css'
            filter='yui_css'
            '@rw_less'
            '@font_awesome_css'
            '@boostrapvalidator_css'
            '@bootstrapdatepicker_css'
        %}
            <link rel="stylesheet" href="{{ asset_url }}" />
        {% endstylesheets %}

        {% image '@font_awesome_font_otf'  output='assets/fonts/FontAwesome.otf'          %}{% endimage %}
        {% image '@font_awesome_font_eot'  output='assets/fonts/fontawesome-webfont.eot'  %}{% endimage %}
        {% image '@font_awesome_font_svg'  output='assets/fonts/fontawesome-webfont.svg'  %}{% endimage %}
        {% image '@font_awesome_font_ttf'  output='assets/fonts/fontawesome-webfont.ttf'  %}{% endimage %}
        {% image '@font_awesome_font_woff' output='assets/fonts/fontawesome-webfont.woff' %}{% endimage %}

    {% endblock %}

{% endblock %}

{% block javascripts %}

    {% javascripts 
        output='assets/js/compiled-all.js'
        filter='closure'
        '@jquery_js'
        '@smoothscroll_js'
        '@bootstrap_js'
        '@boostrapvalidator_js'
        '@bootstrapdatepicker_js'
        '@rw_js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% javascripts 
        output='assets/js/compiled_ie.js'
        filter='closure'
        '@html5shiv_js'
        '@respond_js' 
    %}
        <!--[if lt IE 9]>
        <script src="{{ asset_url }}"></script>
        <![endif]-->
    {% endjavascripts  %}

{% endblock %}

{% block body %}

    <div id="wrap">

        {% include 'RwWebBundle::_header.html.twig' with {'currentRoute': currentRoute} only %}

        <div id="content">
            {% block content %}{% endblock %}
        </div>

        <div id="push"></div>

    </div>

    {% include 'RwWebBundle::_footer.html.twig' only %}

{% endblock %}
