{% extends 'RwWebBundle::base.html.twig' %}

{% block content %}

    {% include 'RwWebBundle::_jumbotron.html.twig' with {
        'header': 'Program',
        'lead'  : 'Rainbow Weekend is proud to present the following programming schedule for speakers and workshops during the convention.'
    } only %}

    <div class="container">
        {% include 'RwWebBundle:Program:_program.html.twig' with {
            'header' : 'Main Speakers',      
            'program': program_main,
            'desc'   : 'Our main speaker events occur Friday and Saturday night, as well as Sunday monring. Our Saturday meeting includes a clean-time countdown, an amazing experience for everyone.'
        } only %}
        {% include 'RwWebBundle:Program:_program.html.twig' with {
            'header' : 'Saturday <small>Morning and Evening</small>', 
            'program': program_sat_0,
            'desc'   : 'Our Staurday schedule offers the following morning and evening meetings.'
        } only %}
        {% include 'RwWebBundle:Program:_program.html.twig' with {
            'header' : 'Saturday <small>Workshop Track 1</small>', 
            'program': program_sat_1,
            'desc'   : 'Our Staurday schedule includes two different workshop tracts. Both offer excellent topics&mdash;choose your poison.'
        } only %}
        {% include 'RwWebBundle:Program:_program.html.twig' with {
            'header' : 'Saturday <small>Workshop Track 2</small>', 
            'program': program_sat_2,
            'desc'   : 'Our Staurday schedule includes two different workshop tracts. Both offer excellent topics&mdash;choose your poison.'
        } only %}
        {% include 'RwWebBundle:Program:_program.html.twig' with { 
            'header' : 'Sunday',             
            'program': program_sun_1,
            'desc'   : 'Prior to the closing Sunday main speaker, we offer an early morning Just for Today meeting, offering convention guests a truly splendid way to wake-up.'
        } only %}
    </div>

{% endblock %}
