{% extends 'RwWebBundle::base.html.twig' %}

{% block content %}

    {% include 'RwWebBundle::_jumbotron.html.twig' with {
        'header': 'Program <small>Speakers and Workshops</small>',
        'lead'  : 'Rainbow Weekend is proud to present the following programming schedule for speakers and workshops during the convention.'
    } only %}

    <div class="container">
        {% include 'RwWebBundle:Program:_program.html.twig' with {'header': 'Main Speakers',      'program': program_main} only %}
        {% include 'RwWebBundle:Program:_program.html.twig' with {'header': 'Saturday (Track 1)', 'program': program_sat_1} only %}
        {% include 'RwWebBundle:Program:_program.html.twig' with {'header': 'Saturday (Track 2)', 'program': program_sat_2} only %}
        {% include 'RwWebBundle:Program:_program.html.twig' with {'header': 'Sunday',             'program': program_sun_1} only %}
    </div>

{% endblock %}
